N.STemplate/.vs/
N.STemplate/N.STemplate/N.STemplate.Android/bin/
N.STemplate/N.STemplate/N.STemplate.Android/obj/
N.STemplate/N.STemplate/N.STemplate.iOS/obj/
N.STemplate/N.STemplate/N.STemplate.UWP/bin/
N.STemplate/N.STemplate/N.STemplate.UWP/obj/
N.STemplate/N.STemplate/N.STemplate/obj/
N.STemplate/N.STemplate/N.STemplate/bin/
N.STemplate/N.STemplate/N.STemplate.UWP/Properties/
N.STemplate/N.STemplate/N.STemplate.iOS/Properties/
